h1.headline.text-center
  img(src='images/icons/magic.svg', alt='')
.container-full
  .row
    #brand.col-lg-12.text-center.v-center
      h1 Mail Charmer
      p.lead Get Right to the Point
      form.col-lg-12
        .form-group
          input.form-control.input-lg(placeholder='Enter your email address', type='text')
        .form-group
          input.form-control.input-lg(placeholder='Enter your password', type='password')
