h1.demo-headline Mail Charmer
.container
  .demo-row.demo-buttons
    .demo-title
      h3.demo-panel-title Button States
    .demo-col
      a.btn.btn-lg.btn-block.btn-primary(href='#fakelink') Primary Button
      a.btn.btn-lg.btn-block.btn-warning(href='#fakelink') Warning Button
      a.btn.btn-lg.btn-block.btn-default(href='#fakelink') Default Button
      a.btn.btn-lg.btn-block.btn-danger(href='#fakelink') Danger Button
    .demo-col
      a.btn.btn-lg.btn-block.btn-success(href='#fakelink') Success Button
      a.btn.btn-lg.btn-block.btn-inverse(href='#fakelink') Inverse Button
      a.btn.btn-lg.btn-block.btn-info(href='#fakelink') Info Button
      a.btn.btn-lg.btn-block.disabled(href='#fakelink') Disabled Button
  .demo-row.demo-buttons
    .demo-title
      h3.demo-panel-title Button Sizes
    .demo-col
      a.btn.btn-hg.btn-block.btn-primary(href='#fakelink') Huge Button
      a.btn.btn-block.btn-primary(href='#fakelink') Default Button
      a.btn.btn-xs.btn-block.btn-primary(href='#fakelink') Mini Button
    .demo-col
      a.btn.btn-lg.btn-block.btn-primary(href='#fakelink') Large Button
      a.btn.btn-sm.btn-block.btn-primary(href='#fakelink') Small Button
  .demo-row.demo-buttons
    .demo-title
      h3.demo-panel-title Button Variants
    .demo-content
      a.btn.btn-hg.btn-primary(href='#fakelink')
        i.fui-twitter
        | It's a
      a.btn.btn-hg.btn-primary.mhm(href='#fakelink')
        | Huge
      a.btn.btn-hg.btn-primary(href='#fakelink')
        | Button
      a.btn.btn-hg.btn-primary.mlm(href='#fakelink')
        i.fui-check-inverted
      a.btn.btn-hg.btn-primary.btn-embossed.mlm(href='#fakelink')
        | Embossed
      a.btn.btn-hg.btn-primary.btn-block(href='#fakelink')
        | Huge Fluid Button
        i.fui-arrow-right.pull-right
      a.btn.btn-lg.btn-primary(href='#fakelink')
        i.fui-twitter
        | It's a
      a.btn.btn-lg.btn-primary.mhm(href='#fakelink') Large
      a.btn.btn-lg.btn-primary(href='#fakelink')
        | Button
      a.btn.btn-lg.btn-primary.mlm(href='#fakelink')
        i.fui-check-inverted
      a.btn.btn-lg.btn-primary.btn-embossed.mlm(href='#fakelink')
        | Embossed
      a.btn.btn-lg.btn-primary.btn-block(href='#fakelink')
        | Large Fluid Button
        i.fui-arrow-right.pull-right
      a.btn.btn-primary(href='#fakelink')
        i.fui-twitter
        | It's a
      a.btn.btn-primary.mhm(href='#fakelink')
        | Standard
      a.btn.btn-primary(href='#fakelink')
        | Button
      a.btn.btn-primary.mlm(href='#fakelink')
        i.fui-check-inverted
      a.btn.btn-primary.btn-embossed.mlm(href='#fakelink')
        | Embossed
      a.btn.btn-primary.btn-block(href='#fakelink')
        | Standard Fluid Button
        i.fui-arrow-right.pull-right
      a.btn.btn-sm.btn-primary(href='#fakelink')
        i.fui-twitter
        | It's a
      a.btn.btn-sm.btn-primary.mhm(href='#fakelink') Small
      a.btn.btn-sm.btn-primary(href='#fakelink')
        | Button
      a.btn.btn-sm.btn-primary.mlm(href='#fakelink')
        i.fui-check-inverted
      a.btn.btn-sm.btn-primary.btn-embossed.mlm(href='#fakelink')
        | Embossed
      a.btn.btn-sm.btn-primary.btn-block(href='#fakelink')
        | Small Fluid Button
        i.fui-arrow-right.pull-right
      a.btn.btn-xs.btn-primary(href='#fakelink')
        i.fui-twitter
        | It's a
      a.btn.btn-xs.btn-primary.mhm(href='#fakelink') Mini
      a.btn.btn-xs.btn-primary(href='#fakelink')
        | Button
      a.btn.btn-xs.btn-primary.mlm(href='#fakelink')
        i.fui-check-inverted
      a.btn.btn-xs.btn-primary.btn-embossed.mlm(href='#fakelink')
        | Embossed
      a.btn.btn-xs.btn-primary.btn-block(href='#fakelink')
        | Mini Fluid Button
        i.fui-arrow-right.pull-right
  .demo-row
    .demo-title
      h3.demo-panel-title Dropdowns
    .demo-col
      select.select-block.mbl(name='huge')
        optgroup(label='Profile')
          option(value='0') My Profile
          option(value='1') My Friends
        optgroup(label='System')
          option(value='2') Messages
          option(value='3') My Settings
          option.highlighted(value='4') Logout
      select.select-block.mbl(multiple='multiple', name='huge')
        option(value='0') 1
        option(value='1', selected='selected') 2
        option(value='2', selected='selected') 3
        option(value='3', selected='selected') 4
        option(value='4') 5
      .mbl
        .btn-group
          i.dropdown-arrow.dropdown-arrow-inverse
          button.btn.btn-primary.btn-hg Dropdown
          button.btn.btn-primary.btn-hg.dropdown-toggle(data-toggle='dropdown')
            span.caret
          ul.dropdown-menu.dropdown-inverse
            li
              a(href='#fakelink') Sub Menu Element
            li
              a(href='#fakelink') Sub Menu Element
            li
              a(href='#fakelink') Sub Menu Element
      select.select-block.mbl(name='info')
        optgroup(label='Profile')
          option(value='0') My Profile
          option(value='1') My Friends
        optgroup(label='System')
          option(value='2') Messages
          option(value='3') My Settings
          option.highlighted(value='4') Logout
      .mbl
        select.select-block(multiple='multiple', name='info')
          option(value='0') 1
          option(value='1', selected='selected') 2
          option(value='2', selected='selected') 3
          option(value='3', selected='selected') 4
          option(value='4') 5
      .mbl
        .btn-group
          i.dropdown-arrow.dropdown-arrow-inverse
          button.btn.btn-info Dropdown
          button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
            span.caret
          ul.dropdown-menu.dropdown-inverse
            li
              a(href='#fakelink') Sub Menu Element
            li
              a(href='#fakelink') Sub Menu Element
            li
              a(href='#fakelink') Sub Menu Element
    .demo-col
      select.select-block.mbl(name='large')
        optgroup(label='Profile')
          option(value='0') My Profile
          option(value='1') My Friends
        optgroup(label='System')
          option(value='2') Messages
          option(value='3') My Settings
          option.highlighted(value='4') Logout
      .mbl
        select.select-block(multiple='multiple', name='large')
          option(value='0') 1
          option(value='1', selected='selected') 2
          option(value='2', selected='selected') 3
          option(value='3', selected='selected') 4
          option(value='4') 5
      .mbl
        .btn-group
          i.dropdown-arrow.dropdown-arrow-inverse
          button.btn.btn-danger.btn-lg Dropdown
          button.btn.btn-danger.btn-lg.dropdown-toggle(data-toggle='dropdown')
            span.caret
          ul.dropdown-menu.dropdown-inverse
            li
              a(href='#fakelink') Sub Menu Element
            li
              a(href='#fakelink') Sub Menu Element
            li
              a(href='#fakelink') Sub Menu Element
      select.select-block.mbl(name='small')
        optgroup(label='Profile')
          option(value='0') My Profile
          option(value='1') My Friends
        optgroup(label='System')
          option(value='2') Messages
          option(value='3') My Settings
          option.highlighted(value='4') Logout
      .mbl
        select.select-block(multiple='multiple', name='small')
          option(value='0') 1
          option(value='1', selected='selected') 2
          option(value='2', selected='selected') 3
          option(value='3', selected='selected') 4
          option(value='4') 5
      .mbl
        .btn-group
          i.dropdown-arrow.dropdown-arrow-inverse
          button.btn.btn-warning.btn-sm Dropdown
          button.btn.btn-warning.btn-sm.dropdown-toggle(data-toggle='dropdown')
            span.caret
          ul.dropdown-menu.dropdown-inverse
            li
              a(href='#fakelink') Sub Menu Element
            li
              a(href='#fakelink') Sub Menu Element
            li
              a(href='#fakelink') Sub Menu Element
  .demo-row.demo-inputs
    .demo-title
      h3.demo-panel-title Inputs
    .demo-col
      .form-group
        input.form-control.input-hg(type='text', value='', placeholder='Un-Active')
      .form-group
        input.form-control.input-lg(type='text', value='', placeholder='Un-Active')
      .form-group
        input.form-control(type='text', value='', placeholder='Un-Active')
      .form-group
        input.form-control.input-sm(type='text', value='', placeholder='Un-Active')
      .form-group.has-error
        input.form-control.input-hg(type='text', value='Error')
      .form-group.has-error
        input.form-control.input-lg(type='text', value='Error')
      .form-group.has-error
        input.form-control(type='text', value='Error')
      .form-group.has-error
        input.form-control.input-sm(type='text', value='Error')
    .demo-col
      .form-group.has-success
        input.form-control.input-hg(type='text', value='Success')
        span.input-icon.fui-check-inverted
      .form-group.has-success.large
        input.form-control.input-lg(type='text', value='Success')
        span.input-icon.fui-check-inverted
      .form-group.has-success
        input.form-control(type='text', value='Success')
        span.input-icon.fui-check-inverted
      .form-group.has-success
        input.form-control.input-sm(type='text', value='Success')
        span.input-icon.fui-check-inverted
      .form-group
        input.form-control.input-hg(type='text', value='Disabled', disabled='disabled')
        span.input-icon.fui-lock
      .form-group
        input.form-control.input-lg(type='text', value='Disabled', disabled='disabled')
        span.input-icon.fui-lock
      .form-group
        input.form-control(type='text', value='Disabled', disabled='disabled')
        span.input-icon.fui-lock
      .form-group
        input.form-control.input-sm(type='text', value='Disabled', disabled='disabled')
        span.input-icon.fui-lock
  .demo-row
    .demo-title
      h3.demo-panel-title Input Variants
    .demo-col
      .form-group
        .input-group.input-group-hg
          input#appendedInputButton-01.form-control(type='search', placeholder='Search')
          span.input-group-btn
            button.btn(type='button')
              span.fui-search
      .form-group
        .input-group.input-group-lg
          input#appendedInputButton-02.form-control(type='search', placeholder='Search')
          span.input-group-btn
            button.btn(type='button')
              span.fui-search
      .form-group
        .input-group
          input#appendedInputButton-03.form-control(type='search', placeholder='Search')
          .input-group-btn
            button.btn(type='button')
              span.fui-search
            button.btn(type='button')
              span.fui-gear
      .form-group
        .input-group.input-group-sm
          input#appendedInputButton-04.form-control(type='search', placeholder='Search')
          span.input-group-btn
            button.btn(type='button')
              span.fui-search
      .form-group
        .input-group.input-group-hg
          span.input-group-addon @
          input#prependedInput-01.form-control(type='text', placeholder='twitter')
      .form-group
        .input-group.input-group-lg
          span.input-group-addon @
          input#prependedInput-02.form-control(type='text', placeholder='twitter')
      .form-group
        .input-group
          span.input-group-addon @
          input#prependedInput-03.form-control(type='text', placeholder='twitter')
      .form-group
        .input-group.input-group-sm
          span.input-group-addon @
          input#prependedInput-04.form-control(type='text', placeholder='twitter')
      .form-group
        .input-group
          span.input-group-btn
            button.btn.btn-default(type='button')
              span.fui-calendar
          input#datepicker-01.form-control(type='text', value='14 March, 2013')
      .form-group
        input#spinner-01.form-control.spinner(type='text', placeholder='', value='0')
    .demo-col
      .form-group
        .input-group
          input#search-query-1.form-control(type='search', placeholder='Search')
          span.input-group-btn
            button.btn.btn-default(type='submit')
              span.fui-search
      .form-group
        .input-group.input-group-hg.input-group-rounded
          span.input-group-btn
            button.btn.btn-default(type='submit')
              span.fui-search
          input#search-query-2.form-control(type='search', placeholder='Search')
      .form-group
        .input-group.input-group-lg.input-group-rounded
          span.input-group-btn
            button.btn.btn-default(type='submit')
              span.fui-search
          input#search-query-3.form-control(type='search', placeholder='Search')
      .form-group
        .input-group.input-group-rounded
          span.input-group-btn
            button.btn.btn-default(type='submit')
              span.fui-search
          input#search-query-4.form-control(type='search', placeholder='Search')
      .form-group
        .input-group.input-group-sm.input-group-rounded
          span.input-group-btn
            button.btn.btn-default(type='submit')
              span.fui-search
          input#search-query-9.form-control(type='search', placeholder='Search')
      .form-group
        .input-group.input-group-hg.input-group-rounded
          input#search-query-5.form-control(type='search', placeholder='Search')
          span.input-group-btn
            button.btn.btn-default(type='submit')
              span.fui-search
      .form-group
        .input-group.input-group-lg.input-group-rounded
          input#search-query-6.form-control(type='search', placeholder='Search')
          span.input-group-btn
            button.btn.btn-default(type='submit')
              span.fui-search
      .form-group
        .input-group.input-group-rounded
          input#search-query-7.form-control(type='search', placeholder='Search')
          span.input-group-btn
            button.btn.btn-default(type='submit')
              span.fui-search
      .form-group
        .input-group.input-group-sm.input-group-rounded
          input#search-query-8.form-control(type='search', placeholder='Search')
          span.input-group-btn
            button.btn.btn-default(type='submit')
              span.fui-search
  .demo-row
    .demo-title
      h3.demo-panel-title Autocomplete
    .demo-col
      .form-group
        input.form-control(type='text', data-provide='typeahead', data-items='4', data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]')
  .demo-row
    .demo-title
      h3.demo-panel-title Textarea
    .last-col
      .demo-col
        textarea.form-control(rows='3', placeholder='Add comment...')
      .demo-col
        textarea.form-control(rows='3')
          | Some text inside small textarea. This is only for paddings and line-height sample.
      .demo-content.ptl
        textarea.form-control(rows='3', placeholder='Add comment...')
  .demo-row
    .demo-title
      h3.demo-panel-title Tags
    .demo-content
      input.tagsinput.tagsinput-primary(name='tagsinput', value='Clean,Fresh,Modern,Unique')
      input.tagsinput(name='tagsinput', value='School,Teacher,Colleague')
  .demo-row
    .demo-title
      h3.demo-panel-title Labels
    .demo-content
      .demo-inline.demo-labels
        span.label.label-default Default
        span.label.label-primary Primary
        span.label.label-important Important
        span.visible-md
          span.label.label-success Success
          span.label.label-warning Warning
          span.label.label-info Info
          span.label.label-inverse Inverse
  .demo-row
    h3.demo-title
      | Checkboxes &
      br
      | Radio-buttons
    .demo-col
      label.checkbox(for='checkbox1')
        input#checkbox1(type='checkbox', value='', data-toggle='checkbox')
        | Unchecked
      label.checkbox(for='checkbox2')
        input#checkbox2(type='checkbox', checked='', value='', data-toggle='checkbox')
        | Checked
      label.checkbox(for='checkbox3')
        input#checkbox3(type='checkbox', value='', data-toggle='checkbox', disabled='')
        | Disabled unchecked
      label.checkbox(for='checkbox4')
        input#checkbox4(type='checkbox', checked='', value='', data-toggle='checkbox', disabled='')
        | Disabled checked
    .demo-col
      label.radio
        input#optionsRadios1(type='radio', name='optionsRadios', value='option1', data-toggle='radio')
        | Radio is off
      label.radio
        input#optionsRadios2(type='radio', name='optionsRadios', value='option1', data-toggle='radio', checked='')
        | Radio is on
      label.radio
        input#optionsRadios3(type='radio', name='optionsRadiosDisabled', value='option2', data-toggle='radio', disabled='')
        | Disabled radio is off
      label.radio
        input#optionsRadios4(type='radio', name='optionsRadiosDisabled', value='option2', data-toggle='radio', checked='', disabled='')
        | Disabled radio is on
  .demo-row
    h3.demo-title Custom color
    .demo-col
      label.checkbox.primary(for='checkbox5')
        input#checkbox5(type='checkbox', value='', data-toggle='checkbox')
        | Unchecked
      label.checkbox.primary(for='checkbox6')
        input#checkbox6(type='checkbox', checked='', value='', data-toggle='checkbox')
        | Checked
      label.checkbox.primary(for='checkbox7')
        input#checkbox7(type='checkbox', value='', data-toggle='checkbox', disabled='')
        | Disabled unchecked
      label.checkbox.primary(for='checkbox8')
        input#checkbox8(type='checkbox', checked='', value='', data-toggle='checkbox', disabled='')
        | Disabled checked
    .demo-col
      label.radio.primary
        input#optionsRadios5(type='radio', name='optionsRadios2', value='option1', data-toggle='radio')
        | Radio is off
      label.radio.primary
        input#optionsRadios6(type='radio', name='optionsRadios2', value='option1', data-toggle='radio', checked='')
        | Radio is on
      label.radio.primary
        input#optionsRadios7(type='radio', name='optionsRadiosDisabled2', value='option2', data-toggle='radio', disabled='')
        | Disabled radio is off
      label.radio.primary
        input#optionsRadios(type='radio', name='optionsRadiosDisabled2', value='option2', data-toggle='radio', checked='', disabled='')
        | Disabled radio is on
  .demo-row
    h3.demo-title Switches
    .last-col
      .demo-col
        input(type='checkbox', checked='checked', data-toggle='switch')
      .demo-col
        input(type='checkbox', data-toggle='switch')
      .demo-col.ptl
        .switch.switch-square(data-on-label='data-on-label')
          i.fui-check
          | "
          | data-off-label="
          i.fui-cross
          | "
          input(type='checkbox')
      .demo-col.ptl
        .switch.switch-square(data-on-label='data-on-label')
          i.fui-check
          | "
          | data-off-label="
          i.fui-cross
          | "
          input(type='checkbox', checked='checked')
      .demo-col.ptl
        input(type='checkbox', disabled='disabled', data-toggle='switch')
      .demo-col.ptl
        input(type='checkbox', checked='checked', disabled='disabled', data-toggle='switch')
  .demo-row.demo-navigation
    .demo-title
      h3.demo-panel-title Navigation
    .demo-content
      .clearfix
        .pull-left.mrl
          ul.pager
            li.previous
              a(href='#fakelink')
                i.fui-arrow-left
                span All messages
            li.next
              a(href='#fakelink')
                i.fui-arrow-right
        .pull-left.mll.pvl
          .btn-toolbar
            .btn-group
              a.btn.btn-primary(href='#fakelink')
                i.fui-list-columned
              a.btn.btn-primary(href='#fakelink')
                i.fui-list-numbered
              a.btn.btn-primary.active(href='#fakelink')
                i.fui-list-thumbnailed
              a.btn.btn-primary(href='#fakelink')
                i.fui-list-small-thumbnails
      .mbl.pbm
        ul.nav.nav-pills
          li.active
            a(href='#fakelink') Popular
          li
            a(href='#fakelink') Newest
          li
            a(href='#fakelink') Bestselling
      .mbl
        .pagination
          ul
            li.previous
              a.fui-arrow-left(href='#fakelink')
            li.active
              a(href='#fakelink') 1
            li
              a(href='#fakelink') 2
            li
              a(href='#fakelink') 3
            li
              a(href='#fakelink') 4
            li
              a(href='#fakelink') 5
            li
              a(href='#fakelink') 6
            li
              a(href='#fakelink') 7
            li
              a(href='#fakelink') 8
            li
              a(href='#fakelink') 9
            li
              a(href='#fakelink') 10
            li.pagination-dropdown.dropup
              i.dropdown-arrow
              a.dropdown-toggle(href='#fakelink', data-toggle='dropdown')
                i.fui-triangle-up
              ul.dropdown-menu
                li
                  a(href='#fakelink') 10–20
                li
                  a(href='#fakelink') 20–30
                li
                  a(href='#fakelink') 40–50
            li.next
              a.fui-arrow-right(href='#fakelink')
        .pagination.pagination-minimal
          ul
            li.previous
              a.fui-arrow-left(href='#fakelink')
            li.active
              a(href='#fakelink') 1
            li
              a(href='#fakelink') 2
            li
              a(href='#fakelink') 3
            li
              a(href='#fakelink') 4
            li
              a(href='#fakelink') 5
            li
              a(href='#fakelink') 6
            li
              a(href='#fakelink') 7
            li
              a(href='#fakelink') 8
            li
              a(href='#fakelink') 9
            li
              a(href='#fakelink') 10
            li
              a(href='#fakelink') 11
            li
              a(href='#fakelink') 12
            li.next
              a.fui-arrow-right(href='#fakelink')
      .mbl
        ul.pagination-plain
          li.previous
            a(href='#fakelink') ← Previous
          li
            a(href='#fakelink') 1
          li
            a(href='#fakelink') 2
          li
            a(href='#fakelink') 3
          li
            a(href='#fakelink') 4
          li.active
            a(href='#fakelink') 5
          li
            a(href='#fakelink') 6
          li
            a(href='#fakelink') 7
          li
            a(href='#fakelink') 8
          li
            a(href='#fakelink') 9
          li
            a(href='#fakelink') 10
          li.next
            a(href='#fakelink') Newer →
      .pagination.pagination-danger
        a.btn.btn-danger.previous(href='#fakelink')
          i.fui-arrow-left
          | OLDER
        ul
          li
            a(href='#fakelink') 1
          li
            a(href='#fakelink') 2
          li
            a(href='#fakelink') 3
          li
            a(href='#fakelink') 4
          li
            a(href='#fakelink') 5
        a.btn.btn-danger.next(href='#fakelink')
          | NEWER
          i.fui-arrow-right
      .pagination.pagination-success
        a.btn.btn-success.previous(href='#fakelink')
          i.fui-arrow-left
          | OLDER
        ul
          li
            a(href='#fakelink') 1
          li
            a(href='#fakelink') 2
          li
            a(href='#fakelink') 3
          li
            a(href='#fakelink') 4
          li
            a(href='#fakelink') 5
        a.btn.btn-success.next(href='#fakelink')
          | NEWER
          i.fui-arrow-right
      .pagination.pagination-warning
        a.btn.btn-warning.previous(href='#fakelink')
          i.fui-arrow-left
          | OLDER
        ul
          li
            a(href='#fakelink') 1
          li
            a(href='#fakelink') 2
          li
            a(href='#fakelink') 3
          li
            a(href='#fakelink') 4
          li
            a(href='#fakelink') 5
        a.btn.btn-warning.next(href='#fakelink')
          | NEWER
          i.fui-arrow-right
      .pagination.pagination-info
        a.btn.btn-info.previous(href='#fakelink')
          i.fui-arrow-left
          | OLDER
        ul
          li
            a(href='#fakelink') 1
          li
            a(href='#fakelink') 2
          li
            a(href='#fakelink') 3
          li
            a(href='#fakelink') 4
          li
            a(href='#fakelink') 5
        a.btn.btn-info.next(href='#fakelink')
          | NEWER
          i.fui-arrow-right
      .pagination.pagination-inverse
        a.btn.btn-inverse.previous(href='#fakelink')
          i.fui-arrow-left
          | OLDER
        ul
          li
            a(href='#fakelink') 1
          li
            a(href='#fakelink') 2
          li
            a(href='#fakelink') 3
          li
            a(href='#fakelink') 4
          li
            a(href='#fakelink') 5
        a.btn.btn-inverse.next(href='#fakelink')
          | NEWER
          i.fui-arrow-right
  .demo-row.demo-tabs
    .demo-title
      h3.demo-panel-title Tabs
    .demo-content
      ul.nav.nav-tabs
        li.active
          a(href='#') Popular
        li
          a(href='#') Newest
        li
          a(href='#') Bestselling
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            | Dropdown
            b.caret
          ul.dropdown-menu
            li
              a(href='#tab2') Newest
            li
              a(href='#tab3') Bestselling
      ul.nav.nav-tabs.nav-append-content
        li.active
          a(href='#tab1') Popular
        li
          a(href='#tab2') Newest
        li
          a(href='#tab3') Bestselling
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            | Dropdown
            b.caret
          ul.dropdown-menu
            li
              a(href='#tab2') Newest
            li
              a(href='#tab3') Bestselling
      .tab-content
        #tab1.tab-pane.active
          p I'm in Section 1.
        #tab2.tab-pane
          p Howdy, I'm in Section 2.
        #tab3.tab-pane
          p Howdy, I'm in Section 3.
  .demo-row
    .demo-title
      h3.demo-panel-title Icon Bars
    .demo-content
      .iconbar
        ul
          li.active
            a.fui-user(href='#fakelink')
          li
            a.fui-calendar(href='#fakelink')
          li
            a.fui-chat(href='#fakelink')
          li
            a.fui-mail(href='#fakelink')
          li
            a.fui-gear(href='#fakelink')
              span.iconbar-unread 1
      .iconbar.iconbar-success
        ul
          li
            a.fui-user(href='#fakelink')
          li.active
            a.fui-calendar(href='#fakelink')
          li
            a.fui-chat(href='#fakelink')
          li
            a.fui-mail(href='#fakelink')
          li
            a.fui-gear(href='#fakelink')
              span.iconbar-unread 1
      .iconbar.iconbar-danger
        ul
          li
            a.fui-user(href='#fakelink')
          li
            a.fui-calendar(href='#fakelink')
          li.active
            a.fui-chat(href='#fakelink')
          li
            a.fui-mail(href='#fakelink')
          li
            a.fui-gear(href='#fakelink')
              span.iconbar-unread 1
      .iconbar.iconbar-warning
        ul
          li
            a.fui-user(href='#fakelink')
          li
            a.fui-calendar(href='#fakelink')
          li
            a.fui-chat(href='#fakelink')
          li.active
            a.fui-mail(href='#fakelink')
          li
            a.fui-gear(href='#fakelink')
              span.iconbar-unread 1
      .iconbar.iconbar-info
        ul
          li
            a.fui-user(href='#fakelink')
          li
            a.fui-calendar(href='#fakelink')
          li
            a.fui-chat(href='#fakelink')
          li
            a.fui-mail(href='#fakelink')
          li.active
            a.fui-gear(href='#fakelink')
              span.iconbar-unread 1
      .iconbar.iconbar-horizontal
        ul
          li.active
            a.fui-user(href='#fakelink')
          li
            a.fui-calendar(href='#fakelink')
          li
            a.fui-chat(href='#fakelink')
          li
            a.fui-mail(href='#fakelink')
          li
            a.fui-gear(href='#fakelink')
              span.iconbar-unread 1
      .iconbar.iconbar-horizontal.iconbar-success
        ul
          li
            a.fui-user(href='#fakelink')
          li.active
            a.fui-calendar(href='#fakelink')
          li
            a.fui-chat(href='#fakelink')
          li
            a.fui-mail(href='#fakelink')
          li
            a.fui-gear(href='#fakelink')
              span.iconbar-unread 1
      .iconbar.iconbar-horizontal.iconbar-danger
        ul
          li
            a.fui-user(href='#fakelink')
          li
            a.fui-calendar(href='#fakelink')
          li.active
            a.fui-chat(href='#fakelink')
          li
            a.fui-mail(href='#fakelink')
          li
            a.fui-gear(href='#fakelink')
              span.iconbar-unread 1
      .iconbar.iconbar-horizontal.iconbar-warning
        ul
          li
            a.fui-user(href='#fakelink')
          li
            a.fui-calendar(href='#fakelink')
          li
            a.fui-chat(href='#fakelink')
          li.active
            a.fui-mail(href='#fakelink')
          li
            a.fui-gear(href='#fakelink')
              span.iconbar-unread 1
      .iconbar.iconbar-horizontal.iconbar-info
        ul
          li
            a.fui-user(href='#fakelink')
          li
            a.fui-calendar(href='#fakelink')
          li
            a.fui-chat(href='#fakelink')
          li
            a.fui-mail(href='#fakelink')
          li.active
            a.fui-gear(href='#fakelink')
              span.iconbar-unread 1
  .demo-row
    .demo-title
      h3.demo-panel-title Breadcrumbs
    .demo-content
      ul.breadcrumb
        li
          a(href='#fakelink') Home
        li
          a(href='#fakelink') Directory
        li.active
          a(href='#') Current Article
      .breadcrumb-text
        h4.caption Shop
        p
          a.text-primary(href='#fakelink') House
          a.text-info(href='#fakelink') Bedroom
          a.text-warning(href='#fakelink') Bed
          a.text-danger(href='#fakelink') Decor
          | A-Z
  .demo-row
    .demo-title
      h3.demo-panel-title Progress bars & Sliders
    .demo-content
      .progress
        .progress-bar(style='width: 45%;')
      br
      .progress
        .progress-bar(style='width: 40%;')
        .progress-bar.progress-bar-warning(style='width: 10%;')
        .progress-bar.progress-bar-danger(style='width: 10%;')
        .progress-bar.progress-bar-success(style='width: 10%;')
        .progress-bar.progress-bar-info(style='width: 10%;')
      br
      #slider.ui-slider
      br
      #slider2.ui-slider
      #slider3.ui-slider
        span.ui-slider-value.first $500
        span.ui-slider-value.last $1000
  .demo-row
    .demo-title
      h3.demo-panel-title Tooltips & Popovers
    .demo-col
      .demo-tooltips
        p(data-toggle='tooltip', data-placement='bottom', data-tooltip-style='light', title='Hello. I’m the Tooltip.')
      .demo-popovers
        .popover.right
          .arrow
          h3.popover-title Smooth Title
          .popover-content
            p
              | And here's some amazing content. It's very engaging.
              br
              | Right?
    .demo-col
      .demo-tooltips
        p(data-toggle='tooltip', title='Here is a sample of a long dark tooltip. Hell yeah.')
      .demo-popovers
        .popover.left
          .arrow
          h3.popover-title Smooth Title
          .popover-content
            p
              | And here's some amazing content. It's very engaging.
              br
              | Right?
  .demo-row.demo-social-buttons
    h3.demo-title Social Buttons
    .demo-col
      a.btn.btn-sm.btn-social-googleplus(href='#fakelink')
        i.fui-googleplus
        | Connect with Google
      a.btn.btn-sm.btn-social-facebook(href='#fakelink')
        i.fui-facebook
        | Connect with Facebook
      a.btn.btn-sm.btn-social-twitter(href='#fakelink')
        i.fui-twitter
        | Connect with Twitter
    .demo-col
      a.btn.btn-sm.btn-social-pinterest(href='#fakelink')
        i.fui-pinterest
        | Pin It
        span.btn-tip 100
      a.btn.btn-sm.btn-social-linkedin(href='#fakelink')
        i.fui-linkedin
        | Share
        span.btn-tip 91
      a.btn.btn-sm.btn-social-stumbleupon(href='#fakelink')
        i.fui-stumbleupon
        | Stumble
        span.btn-tip 45
  .demo-row
    h3.demo-title Nav Lists
    .demo-col
      ul.nav.nav-list
        li.nav-header Subjects
        li
          a(href='#fakelink')
            | UX Design
            span.badge.pull-right 19
        li.active
          a(href='#fakelink')
            | Photography
            span.badge.pull-right 130
        li
          a(href='#fakelink')
            | Art
            span.badge.pull-right 9
        li.divider
        li.nav-header Condition
        li
          a(href='#fakelink')
            | Brand new
            span.badge.pull-right 69
        li
          a(href='#fakelink')
            | Read-used
            span.badge.pull-right 21
        li
          a(href='#fakelink')
            | Work-used
            span.badge.pull-right 40
    .demo-col
      ul.nav.nav-list.nav-list-vivid
        li.nav-header Europe
        li
          a(href='#fakelink')
            | London, United Kingdom
            span.badge.pull-right 19
        li.active
          a(href='#fakelink')
            | Berlin, Germany
            span.badge.pull-right 130
        li
          a(href='#fakelink')
            | Madrid, Spain
            span.badge.pull-right 9
        li.divider
        li.nav-header Asia
        li
          a(href='#fakelink')
            | Shanghai, China
            span.badge.pull-right 69
        li
          a(href='#fakelink')
            | Bombay, India
            span.badge.pull-right 21
        li
          a(href='#fakelink')
            | Karachi, Pakistan
            span.badge.pull-right 40
  .demo-row
    h3.demo-title Alerts
    .demo-content
      .alert.alert-info
        button.close.fui-cross(type='button', data-dismiss='alert')
        | Your computer restarted
        a(href='#fakelink') because of a problem
        | . Sorry for any inconvenience and appreciate your patient.
      .alert.alert-info
        button.close.fui-cross(type='button', data-dismiss='alert')
        h3 Information Lable
        p
          | An error message is information displayed when an
          a(href='#fakelink') unexpected condition occurs
          | , usually on a computer or other device. On modern operating systems with graphical user interfaces, error messages are often displayed using dialog boxes.
        a.btn.btn-info.btn-wide(href='#fakelink') Turn it off now
        a.btn.btn-wide(href='#fakelink') It’s ok
      .alert.alert-error
        button.close.fui-cross(type='button', data-dismiss='alert')
        | Your computer restarted
        a(href='#fakelink') because of a problem
        | . Sorry for any inconvenience and appreciate your patient.
      .alert.alert-error
        button.close.fui-cross(type='button', data-dismiss='alert')
        h3 Error: The change you wanted was rejected.
        p
          | An error message is information displayed when an
          a(href='#fakelink') unexpected condition occurs
          | , usually on a computer or other device. On modern operating systems with graphical user interfaces, error messages are often displayed using dialog boxes.
        a.btn.btn-danger.btn-wide(href='#fakelink') Turn it off now
        a.btn.btn-wide(href='#fakelink') It’s ok
      .alert.alert-success
        button.close.fui-cross(type='button', data-dismiss='alert')
        | Your computer restarted
        a(href='#fakelink') because of a problem
        | . Sorry for any inconvenience and appreciate your patient.
      .alert.alert-success
        button.close.fui-cross(type='button', data-dismiss='alert')
        h3 Disc Space was extended twice. It’s ok?
        p
          | An error message is information displayed when an
          a(href='#fakelink') unexpected condition occurs
          | , usually on a computer or other device. On modern operating systems with graphical user interfaces, error messages are often displayed using dialog boxes.
        a.btn.btn-primary.btn-wide(href='#fakelink')
          i.fui-check-inverted
          | Hurray!
        a.btn.btn-info.btn-wide(href='#fakelink') Share on twitter
      .alert
        button.close.fui-cross(type='button', data-dismiss='alert')
        | Your computer restarted
        a(href='#fakelink') because of a problem
        | . Sorry for any inconvenience and appreciate your patient.
      .alert
        button.close.fui-cross(type='button', data-dismiss='alert')
        h3 Hey, Some problems on our servers.
        p
          | An error message is information displayed when an
          a(href='#fakelink') unexpected condition occurs
          | , usually on a computer or other device. On modern operating systems with graphical user interfaces, error messages are often displayed using dialog boxes.
        a.btn.btn-warning.btn-wide(href='#fakelink') Fix it
        a.btn.btn-wide(href='#fakelink') Okey, no probs!
.container
  .demo-row
    h3.demo-title Modals
.static-modal-backdrop
  .modal
    .modal-dialog
      .modal-content
        .modal-header
          button.close.fui-cross(type='button', data-dismiss='modal', aria-hidden='true')
          h4.modal-title Modal header
        .modal-body
          p
            | An error message is information displayed when an
            a(href='#') unexpected condition occurs
            | , usually on a computer or other device.
        .modal-footer
          a.btn.btn-wide(href='#') It’s ok
          a.btn.btn-wide.btn-primary(href='#') Turn it off now.
.container
  .demo-row
    h3.demo-title
      | Glyphs
      small (52)
    .demo-content.demo-icons
      span.fui-info
      span.fui-alert
      span.fui-question
      span.fui-window
      span.fui-windows
      span.fui-upload
      span.fui-arrow-right
      span.fui-arrow-left
      span.fui-loop
      span.fui-cmd
      span.fui-mic
      span.fui-export
      span.fui-check-inverted
      span.fui-heart
      span.fui-location
      span.fui-plus
      span.fui-check
      span.fui-cross
      span.fui-list
      span.fui-new
      span.fui-video
      span.fui-photo
      span.fui-volume
      span.fui-time
      span.fui-eye
      span.fui-chat
      span.fui-home
      span.fui-search
      span.fui-user
      span.fui-mail
      span.fui-lock
      span.fui-power
      span.fui-star
      span.fui-calendar
      span.fui-gear
      span.fui-book
      span.fui-exit
      span.fui-trash
      span.fui-folder
      span.fui-bubble
      span.fui-cross-inverted
      span.fui-plus-inverted
      span.fui-calendar-solid
      span.fui-star-2
      span.fui-credit-card
      span.fui-clip
      span.fui-link
      span.fui-pause
      span.fui-play
      span.fui-tag
      span.fui-document
      span.fui-image
  .demo-row
    h3.demo-title
      | Additional
      small (16)
    .demo-content.demo-icons
      span.fui-triangle-up
      span.fui-triangle-up-small
      span.fui-triangle-right-large
      span.fui-triangle-left-large
      span.fui-triangle-down
      span.fui-triangle-down-small
      span.fui-radio-unchecked
      span.fui-radio-checked
      span.fui-checkbox-unchecked
      span.fui-checkbox-checked
      span.fui-list-thumbnailed
      span.fui-list-small-thumbnails
      span.fui-list-numbered
      span.fui-list-large-thumbnails
      span.fui-list-columned
      span.fui-list-bulleted
  .demo-row
    h3.demo-title
      | Social
      small (16)
    .demo-content.demo-icons
      span.fui-facebook
      span.fui-youtube
      span.fui-vimeo
      span.fui-twitter
      span.fui-stumbleupon
      span.fui-spotify
      span.fui-skype
      span.fui-pinterest
      span.fui-path
      span.fui-myspace
      span.fui-linkedin
      span.fui-googleplus
      span.fui-dribbble
      span.fui-blogger
      span.fui-behance
      span.fui-flat
  .demo-row
    .demo-title.pbm
      h3.demo-panel-title Tables
    .demo-content-wide.ptl
      .table-responsive
        table.table.table-striped
          tr
            th Rank
            th Name
            th Year
            th Rating
            th Votes
            th  
          tr
            td 1
            td The Shawshank Redemption
            td 1994
            td 9.2
            td 923,629
            td
              i.fui-check-inverted.text-primary
          tr
            td 2
            td The Godfather
            td 1972
            td 9.2
            td 663,133
            td
              i.fui-cross-inverted.text-primary
          tr
            td 3
            td The Godfather: Part II
            td 1974
            td 9.0
            td 427,132
            td
              i.fui-cross-inverted.text-primary
          tr
            td 4
            td Pulp Fiction
            td 1994
            td 8.9
            td 719,280
            td
              i.fui-check-inverted.text-primary
          tr
            td 5
            td The Good, the Bad and the Ugly
            td 1966
            td 8.9
            td 218,887
            td
              i.fui-check-inverted.text-primary
  .demo-row
    .demo-content-wide
      .table-responsive
        table.table.table-striped.table-hover
          thead
            tr
              th Rank
              th Name
              th Year
              th Rating
              th Votes
          tbody
            tr
              td 1
              td The Shawshank Redemption
              td 1994
              td 9.2
              td 923,629
            tr
              td 2
              td The Godfather
              td 1972
              td 9.2
              td 663,133
            tr
              td 3
              td The Godfather: Part II
              td 1974
              td 9.0
              td 427,132
            tr
              td 4
              td Pulp Fiction
              td 1994
              td 8.9
              td 719,280
            tr
              td 5
              td The Good, the Bad and the Ugly
              td 1966
              td 8.9
              td 218,887
  .demo-row
    .demo-content-wide
      .table-responsive
        table.table.table-bordered
          thead
            tr
              th
                label.checkbox.no-label.toggle-all(for='checkbox-table-1')
                  input#checkbox-table-1(type='checkbox', value='', data-toggle='checkbox')
              th Rank
              th Name
              th Genre
              th Votes
              th Year
              th Rating
          tbody
            tr
              td
                label.checkbox.no-label(for='checkbox-table-2')
                  input#checkbox-table-2(type='checkbox', value='', data-toggle='checkbox')
              td 1
              td The Shawshank Redemption
              td Crime, Drama
              td 923,629
              td 1994
              td 9.2
            tr.selected-row
              td
                label.checkbox.no-label(for='checkbox-table-3')
                  input#checkbox-table-3(type='checkbox', checked='checked', value='', data-toggle='checkbox')
              td 2
              td The Godfather
              td Crime, Drama
              td 663,133
              td 1972
              td 9.2
            tr.selected-row
              td
                label.checkbox.no-label(for='checkbox-table-4')
                  input#checkbox-table-4(type='checkbox', checked='checked', value='', data-toggle='checkbox')
              td 3
              td The Godfather: Part II
              td Crime, Drama
              td 427,132
              td 1974
              td 9.0
            tr
              td
                label.checkbox.no-label(for='checkbox-table-5')
                  input#checkbox-table-5(type='checkbox', value='', data-toggle='checkbox')
              td 4
              td Pulp Fiction
              td Crime, Drama
              td 719,280
              td 1994
              td 8.9
            tr
              td
                label.checkbox.no-label(for='checkbox-table-6')
                  input#checkbox-table-6(type='checkbox', value='', data-toggle='checkbox')
              td 5
              td The Good, the Bad and the Ugly
              td Adventure, Western
              td 218,887
              td 1966
              td 8.9
  .demo-row.pbn
    .demo-title.pbm
      h3.demo-panel-title Top Menus
    .demo-content-wide.ptl
      .navbar
        .navbar-inner
          .container
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='#nav-collapse-01')
            a.navbar-brand.fui-flat(href='#fakelink')
            #nav-collapse-01.nav-collapse.collapse.in
              ul.nav
                li.active
                  a(href='#fakelink') Products
                li
                  a(href='#fakelink') Features
                li
                  a(href='#fakelink') Pricing
                li
                  a(href='#fakelink') About
              form.navbar-search.pull-right(action='')
                .input-group.input-group-sm
                  input#navbarInput-01.form-control(type='search', placeholder='Search')
                  span.input-group-btn
                    button.btn.btn-default(type='submit')
                      i.fui-search
      .navbar
        .navbar-inner
          .container
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='#nav-collapse-02')
            a.navbar-brand.fui-flat(href='#fakelink')
            #nav-collapse-02.nav-collapse.collapse.in
              form.navbar-search.pull-right(action='')
                .input-group.input-group-sm
                  input#navbarInput-02.form-control(type='search', placeholder='Search')
                  span.input-group-btn
                    button.btn.btn-default(type='submit')
                      i.fui-search
              ul.nav.pull-right
                li.active
                  a(href='#fakelink')
                    span.fui-user
                    span.hidden-lg My Account
                li
                  a(href='#fakelink')
                    span.fui-mail
                    span.hidden-lg Messages
                    span.navbar-new 1
                li
                  a(href='#fakelink')
                    span.fui-gear
                    span.hidden-lg Settings
      .navbar.navbar-inverse
        .navbar-inner
          .container
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='#nav-collapse-03')
            a.navbar-brand(href='#fakelink') Flat UI
            #nav-collapse-03.nav-collapse.collapse.in
              ul.nav
                li
                  a(href='#fakelink')
                    | Menu Item
                    span.navbar-unread 1
                li.active
                  a(href='#fakelink')
                    | Messages
                    span.navbar-unread 1
                  ul
                    li
                      a(href='#fakelink') Element One
                    li
                      a(href='#fakelink') Sub menu
                      ul
                        li
                          a(href='#fakelink') Element One
                        li
                          a(href='#fakelink') Element Two
                        li
                          a(href='#fakelink') Element Three
                    li
                      a(href='#fakelink') Element Three
                li
                  a(href='#fakelink')
                    | About Us
              form.navbar-search.pull-left(action='', align='center')
                .input-group.input-group-sm
                  input#navbarInput-02.form-control(type='search', placeholder='Search')
                  span.input-group-btn
                    button.btn.btn-default(type='submit')
                      i.fui-search
              ul.nav.pull-right
                li.divider
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Settings
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#fakelink') Action
                    li
                      a(href='#fakelink') Another action
                    li
                      a(href='#fakelink') Something else here
                    li.divider
                    li
                      a(href='#fakelink') Separated link
.dialog.dialog-success
  | Activation link was sent to
  span.text-primary m***@gmail.com
  button.btn.btn-primary.btn-wide.mll
    i.fui-mail
    | Resend it to me!
.dialog
  i.fui-mail.mrm
  | Thank you! Your message has been sent.
.dialog.demo-dialog
  form.form-inline
    .form-group
      label.sr-only(for='dialogExampleInputEmail1') Login/E-mail
      input#dialogExampleInputEmail1.form-control.flat(type='email', placeholder='Login/E-mail')
    .form-group
      label.sr-only(for='dialogExampleInputPass1') Login/E-mail
      input#dialogExampleInputPass1.form-control.flat(type='password', placeholder='Password')
      span.input-icon.fui-question
    button.btn.btn-primary.btn-wide Login
    button.btn.btn-danger.btn-wide Register
.container.ptl
  .demo-row.menu-row
    h3.demo-title Bottom Menu
.mtl.pbl
  .bottom-menu.bottom-menu-inverse
    .container
      .row
        .col-md-2.navbar-brand
          a.fui-flat(href='#fakelink')
        .col-md-8
          ul.bottom-links
            li
              a(href='#fakelink') About Us
            li
              a(href='#fakelink') Store
            li.active
              a(href='#fakelink') Jobs
            li
              a(href='#fakelink') Privacy
            li
              a(href='#fakelink') Terms
            li
              a(href='#fakelink') Follow Us
            li
              a(href='#fakelink') Support
            li
              a(href='#fakelink') Links
        .col-md-2
          ul.bottom-icons
            li
              a.fui-pinterest(href='#fakelink')
            li
              a.fui-facebook(href='#fakelink')
            li
              a.fui-twitter(href='#fakelink')
.bottom-menu
  .container
    .row
      .col-md-2.navbar-brand
        a.fui-flat(href='#fakelink')
      .col-md-8
        ul.bottom-links
          li
            a(href='#fakelink') About Us
          li
            a(href='#fakelink') Store
          li.active
            a(href='#fakelink') Jobs
          li
            a(href='#fakelink') Privacy
          li
            a(href='#fakelink') Terms
          li
            a(href='#fakelink') Follow Us
          li
            a(href='#fakelink') Support
          li
            a(href='#fakelink') Links
      .col-md-2
        ul.bottom-icons
          li
            a.fui-pinterest(href='#fakelink')
          li
            a.fui-facebook(href='#fakelink')
          li
            a.fui-twitter(href='#fakelink')
.mvl.pvl
  .bottom-menu.bottom-menu-large.bottom-menu-inverse
    .container
      .row
        .col-md-2.navbar-brand
          a.fui-flat(href='#fakelink')
        .col-md-2
          h5.title ABOUT US
          ul.bottom-links
            li
              a(href='#fakelink') Dashboard
            li
              a(href='#fakelink') Feed
            li
              a(href='#fakelink') Forums
            li
              a(href='#fakelink') Radio
            li
              a(href='#fakelink') Journal
            li
              a(href='#fakelink') Reader
            li
              a(href='#fakelink') Store
        .col-md-2
          h5.title CATEGORIES
          ul.bottom-links
            li
              a(href='#fakelink') Design
            li
              a(href='#fakelink') Freebies
            li
              a(href='#fakelink') Tutorials
            li
              a(href='#fakelink') Coding
            li
              a(href='#fakelink') Inspiration
            li
              a(href='#fakelink') WordPress
            li
              a(href='#fakelink') Resources
        .col-md-2
          h5.title NETWORKS
          ul.bottom-links
            li
              a(href='#fakelink') Insight
            li
              a(href='#fakelink') Promotion
            li
              a(href='#fakelink') Production
            li
              a(href='#fakelink') Planning
            li
              a(href='#fakelink') Journal
            li
              a(href='#fakelink') Reader
            li
              a(href='#fakelink') Store
        .col-md-2
          h5.title MAINFRAME
          ul.bottom-links
            li
              a(href='#fakelink') Register / Login
            li.active
              a(href='#fakelink') Jobs
            li
              a(href='#fakelink') Contacts
            li
              a(href='#fakelink') Privacy
            li
              a(href='#fakelink') Terms of Use
        .col-md-2
          h5.title FOLLOW US
          ul.bottom-links
            li
              a(href='#fakelink') Facebook
            li
              a(href='#fakelink') Twitter
            li
              a(href='#fakelink') Youtube
            li
              a(href='#fakelink') Vimeo
            li
              a(href='#fakelink') Instagram
            li
              a(href='#fakelink')
                | Vine
                span.label.label-small.label-primary New
.bottom-menu.bottom-menu-large.mbl
  .container
    .row
      .col-md-2.navbar-brand
        a.fui-flat(href='#fakelink')
      .col-md-2
        h5.title ABOUT US
        ul.bottom-links
          li
            a(href='#fakelink') Dashboard
          li
            a(href='#fakelink') Feed
          li
            a(href='#fakelink') Forums
          li
            a(href='#fakelink') Radio
          li
            a(href='#fakelink') Journal
          li
            a(href='#fakelink') Reader
          li
            a(href='#fakelink') Store
      .col-md-2
        h5.title CATEGORIES
        ul.bottom-links
          li
            a(href='#fakelink') Design
          li
            a(href='#fakelink') Freebies
          li
            a(href='#fakelink') Tutorials
          li
            a(href='#fakelink') Coding
          li
            a(href='#fakelink') Inspiration
          li
            a(href='#fakelink') WordPress
          li
            a(href='#fakelink') Resources
      .col-md-2
        h5.title NETWORKS
        ul.bottom-links
          li
            a(href='#fakelink') Insight
          li
            a(href='#fakelink') Promotion
          li
            a(href='#fakelink') Production
          li
            a(href='#fakelink') Planning
          li
            a(href='#fakelink') Journal
          li
            a(href='#fakelink') Reader
          li
            a(href='#fakelink') Store
      .col-md-2
        h5.title MAINFRAME
        ul.bottom-links
          li
            a(href='#fakelink') Register / Login
          li.active
            a(href='#fakelink') Jobs
          li
            a(href='#fakelink') Contacts
          li
            a(href='#fakelink') Privacy
          li
            a(href='#fakelink') Terms of Use
      .col-md-2
        h5.title FOLLOW US
        ul.bottom-links
          li
            a(href='#fakelink') Facebook
          li
            a(href='#fakelink') Twitter
          li
            a(href='#fakelink') Youtube
          li
            a(href='#fakelink') Vimeo
          li
            a(href='#fakelink') Instagram
          li
            a(href='#fakelink')
              | Vine
              span.label.label-small.label-primary New
.container.ptl
  .demo-row.typography-row
    .demo-title
      h3.demo-panel-title Typography
    .demo-content
      .demo-type-example
        h1
          span.demo-heading-note Header 1
          | Showers across the
      .demo-type-example
        h2
          span.demo-heading-note Header 2
          | Give this quartet a few
      .demo-type-example
        h3
          span.demo-heading-note Header 3
          | The Vatican transitions to a
      .demo-type-example
        h4
          span.demo-heading-note Header 4
          | Great American Bites: Telluride's Oak, The
      .demo-type-example
        h5
          span.demo-heading-note Header 5
          | Author Diane Alberts loves her some good
      .demo-type-example
        h6
          span.demo-heading-note Header 6
          | With the success of young-adult book-to-movie
      .demo-type-example
        span.demo-text-note Paragraph
        p
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          strong Donec ullamcorper
          | nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      .demo-type-example
        span.demo-text-note Image
        img.img-rounded.img-responsive(src='images/exaple-image.jpg', alt='exaple-image')
        p.img-comment
          strong Note:
          | gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      .demo-type-example
        span.demo-text-note Lead Text
        p.lead
          | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      .demo-type-example
        span.demo-text-note Quote
        blockquote
          p
            | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus.
          small Steve Jobs, CEO Apple
      .demo-type-example
        span.demo-text-note Small Font
        p
          small
            | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  .demo-row
    .demo-title
      h3.demo-panel-title Carousel
    .demo-content-wide.ptl
      #myCarousel.carousel.slide(data-interval='false')
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
        .carousel-inner
          .item.active
            img(src='images/carousel/image-01.jpg', alt='')
            .carousel-caption
              h3 Thumbnail label
              p
                | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.
          .item
            img(src='images/carousel/image-02.jpg', alt='')
            .carousel-caption
              h3 Thumbnail label
              p
                | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.
          .item
            img(src='images/carousel/image-03.jpg', alt='')
            .carousel-caption
              h3 Thumbnail label
              p
                | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec.
        a.left.carousel-control.fui-arrow-left(href='#myCarousel', data-slide='prev')
        a.right.carousel-control.fui-arrow-right(href='#myCarousel', data-slide='next')
  .demo-row.demo-illustrations
    .demo-title
      h3.demo-panel-title Icons
    .demo-content-wide
      div
        img(src='images/icons/android.svg', alt='')
      div
        img(src='images/icons/android1.svg', alt='')
      div
        img(src='images/icons/app-store.svg', alt='')
      div
        img(src='images/icons/arrow.svg', alt='')
      div
        img(src='images/icons/art.svg', alt='')
      div
        img(src='images/icons/bag.svg', alt='')
      div
        img(src='images/icons/basket.svg', alt='')
      div
        img(src='images/icons/book.svg', alt='')
      div
        img(src='images/icons/bowling.svg', alt='')
      div
        img(src='images/icons/box.svg', alt='')
      div
        img(src='images/icons/brush.svg', alt='')
      div
        img(src='images/icons/building.svg', alt='')
      div
        img(src='images/icons/bulb.svg', alt='')
      div
        img(src='images/icons/button.svg', alt='')
      div
        img(src='images/icons/calculator.svg', alt='')
      div
        img(src='images/icons/calendar.svg', alt='')
      div
        img(src='images/icons/camera.svg', alt='')
      div
        img(src='images/icons/car.svg', alt='')
      div
        img(src='images/icons/card.svg', alt='')
      div
        img(src='images/icons/chair.svg', alt='')
      div
        img(src='images/icons/chat.svg', alt='')
      div
        img(src='images/icons/clipboard.svg', alt='')
      div
        img(src='images/icons/clocks.svg', alt='')
      div
        img(src='images/icons/compas.svg', alt='')
      div
        img(src='images/icons/converse.svg', alt='')
      div
        img(src='images/icons/cup.svg', alt='')
      div
        img(src='images/icons/dj.svg', alt='')
      div
        img(src='images/icons/donut.svg', alt='')
      div
        img(src='images/icons/dude.svg', alt='')
      div
        img(src='images/icons/dynamite.svg', alt='')
      div
        img(src='images/icons/earth.svg', alt='')
      div
        img(src='images/icons/egg.svg', alt='')
      div
        img(src='images/icons/eye.svg', alt='')
      div
        img(src='images/icons/file.svg', alt='')
      div
        img(src='images/icons/fit.svg', alt='')
      div
        img(src='images/icons/flag.svg', alt='')
      div
        img(src='images/icons/flask.svg', alt='')
      div
        img(src='images/icons/flower.svg', alt='')
      div
        img(src='images/icons/games.svg', alt='')
      div
        img(src='images/icons/gift-box.svg', alt='')
      div
        img(src='images/icons/girl.svg', alt='')
      div
        img(src='images/icons/goal.svg', alt='')
      div
        img(src='images/icons/google .svg', alt='')
      div
        img(src='images/icons/graph.svg', alt='')
      div
        img(src='images/icons/icecream.svg', alt='')
      div
        img(src='images/icons/imac.svg', alt='')
      div
        img(src='images/icons/ipad.svg', alt='')
      div
        img(src='images/icons/iphone.svg', alt='')
      div
        img(src='images/icons/key.svg', alt='')
      div
        img(src='images/icons/lettersymbol.svg', alt='')
      div
        img(src='images/icons/lock.svg', alt='')
      div
        img(src='images/icons/loop.svg', alt='')
      div
        img(src='images/icons/macbook.svg', alt='')
      div
        img(src='images/icons/magic.svg', alt='')
      div
        img(src='images/icons/magicmouse.svg', alt='')
      div
        img(src='images/icons/mail.svg', alt='')
      div
        img(src='images/icons/map.svg', alt='')
      div
        img(src='images/icons/medal.svg', alt='')
      div
        img(src='images/icons/mic.svg', alt='')
      div
        img(src='images/icons/money.svg', alt='')
      div
        img(src='images/icons/mortarboard.svg', alt='')
      div
        img(src='images/icons/mountain.svg', alt='')
      div
        img(src='images/icons/news.svg', alt='')
      div
        img(src='images/icons/paper-bag.svg', alt='')
      div
        img(src='images/icons/pc.svg', alt='')
      div
        img(src='images/icons/pencil.svg', alt='')
      div
        img(src='images/icons/pencils.svg', alt='')
      div
        img(src='images/icons/picture.svg', alt='')
      div
        img(src='images/icons/pig.svg', alt='')
      div
        img(src='images/icons/pills.svg', alt='')
      div
        img(src='images/icons/play.svg', alt='')
      div
        img(src='images/icons/printer.svg', alt='')
      div
        img(src='images/icons/responsive.svg', alt='')
      div
        img(src='images/icons/retina.svg', alt='')
      div
        img(src='images/icons/ring.svg', alt='')
      div
        img(src='images/icons/rocket.svg', alt='')
      div
        img(src='images/icons/rss.svg', alt='')
      div
        img(src='images/icons/safe.svg', alt='')
      div
        img(src='images/icons/save.svg', alt='')
      div
        img(src='images/icons/search.svg', alt='')
      div
        img(src='images/icons/settings.svg', alt='')
      div
        img(src='images/icons/shield.svg', alt='')
      div
        img(src='images/icons/shirt.svg', alt='')
      div
        img(src='images/icons/skateboard.svg', alt='')
      div
        img(src='images/icons/spray.svg', alt='')
      div
        img(src='images/icons/storage.svg', alt='')
      div
        img(src='images/icons/support.svg', alt='')
      div
        img(src='images/icons/ticket.svg', alt='')
      div
        img(src='images/icons/toilet-paper.svg', alt='')
      div
        img(src='images/icons/touch.svg', alt='')
      div
        img(src='images/icons/trash.svg', alt='')
      div
        img(src='images/icons/trip-bag.svg', alt='')
      div
        img(src='images/icons/trunk.svg', alt='')
      div
        img(src='images/icons/ubmrella.svg', alt='')
      div
        img(src='images/icons/user-interface.svg', alt='')
      div
        img(src='images/icons/video.svg', alt='')
      div
        img(src='images/icons/weather.svg', alt='')
      div
        img(src='images/icons/wi-fi.svg', alt='')
      div
        img(src='images/icons/wine.svg', alt='')
      div
        img(src='images/icons/yinyang.svg', alt='')
